<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AJAX Cards</title>
</head>
<body>
  <h1>High Card</h1>
  <br>
  <form action="./logout?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" />
  </form>
  <br>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/script.js"></script>
</body>
</html>